<%-include("../navbar")%>

    <% if(list.length < 1){ %>
        <!-- about hero Banner -->
        <form action="/admin/about/save_about" method="post" enctype="multipart/form-data">

            <div class="container mt-4 bg-white shadow p-4">
                <h3>Welcome TO About</h3>

                <div class="row">
                    <div class="col-md-4 mt-3">
                        Enter Title:
                        <input type="text" name="title" class="form-control">
                    </div>
                    <div class="col-md-4 mt-3">
                        Enter Sub-Title:
                        <textarea type="text" name="subtitle" class="editor"></textarea>
                    </div><br>
                    <div class="col-md-4 mt-3">
                        Enter Photo:
                        <input type="file" name="photo" class="form-control">
                    </div>

                    <div class="col-md-12 mt-3 text-center ">
                        <button class="btn btn-primary">Save About Section</button>
                    </div>
                </div>
            </div>
        </form>

        <%}%>
            <!-- about hero Banner list -->
            <div class="container mt-4 shadow p-4">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <h3>1.About Us Hero Banner</h3>
                    </div>
                    <div class="col-md-12">
                        <table class="table table-stripped" border="1">
                            <th>Action</th>
                            <th>SrNo</th>
                            <th>Title</th>
                            <th>Sub-title</th>
                            <th>Image</th>
                            </tr>

                            <%for (var i=0;i<list.length;i++){ %>
                                <tr>
                                    <td>
                                        <a href="/admin/about/edit_aboutus/<%-list[i].id%>"><i
                                                class="fa fa-edit"></i></a>&nbsp;&nbsp;&nbsp;
                                        <a href="/admin/about/delete_aboutus/<%-list[i].id%>"><i
                                                class="fas fa-trash"></i></a>
                                    </td>
                                    <td><%-i+1%></td>
                                    <td><%-list[i].title%></td>
                                    <td><%-list[i].subtitle%></td>
                                    <td><img src="/./<%-list[i].image%>" width="100px"></td>
                                </tr>
                                <%}%>

                        </table>

                    </div>
                </div>
            </div>



            <!-- About our Compony -->
            <% if(about_co_list.length<2) { %>
                <form action="/admin/about/save_aboutourcompony" method="post" enctype="multipart/form-data">

                    <div class="container mt-4 bg-white shadow p-4">
                        <h3>2.About Our Compony</h3>

                        <div class="row">
                            <div class="col-md-4 mt-3">
                                Enter Title:
                                <input type="text" name="title" class="form-control">
                            </div>
                            <div class="col-md-4 mt-3">
                                Enter Photo:
                                <input type="file" name="photo" class="form-control">
                            </div>
                            <div class="col-md-12 mt-3">
                                Enter Sub-Title:
                                <textarea type="text" name="subtitle" class="editor"></textarea>
                            </div><br>
                            <div class="col-md-12 mt-3 text-center ">
                                <button class="btn btn-primary">Add About Our Company </button>
                            </div>
                        </div>
                    </div>
                </form>
                <% } %>

                    <!-- About our Compony list -->
                    <div class="container mt-4 shadow p-4">
                        <div class="row">
                            <div class="col-md-12 text-center">
                                <h3>2.About Our Compony </h3>
                            </div>
                            <div class="col-md-12">
                                <table class="table table-stripped" border="1">
                                    <th>Action</th>
                                    <th>SrNo</th>
                                    <th>Title</th>
                                    <th>Sub-title</th>
                                    <th>Image</th>
                                    </tr>
                                    <%for (var i=0;i<about_co_list.length;i++){ %>
                                        <tr>
                                            <td>
                                                <a href="/admin/about/edit_aboutourcompony/<%-about_co_list[i].id%>"><i
                                                        class="fa fa-edit"></i></a>&nbsp;&nbsp;&nbsp;
                                                <a href="/admin/about/delete_aboutourcompony/<%-about_co_list[i].id%>"
                                                    class="text-danger"><i class="fas fa-trash"></i></a>
                                            </td>
                                            <td><%-i+1%></td>
                                            <td><%-about_co_list[i].title%></td>
                                            <td><%-about_co_list[i].subtitle%></td>
                                            <td><img src="/<%=about_co_list[i].photo%>" width="100px"></td>
                                        </tr>
                                        <%}%>

                                </table>

                            </div>
                        </div>
                    </div>




                    <%-include("../footer")%>